* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgba(61, 59, 53, 0.0941176471);
}

.contenedor {
  background-image: linear-gradient(white, black);
  color: white;
  height: 150px;
}
.contenedor__lista {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  line-height: 30px;
  margin-bottom: 20px;
}
.contenedor__item {
  color: black;
  text-decoration: none;
}
.contenedor__h3 {
  color: coral;
  text-align: center;
  margin: 25px;
  padding-top: 20px;
}

.contenedor__hr {
  margin-left: 200px;
  margin-right: 200px;
}

.contacto__texto {
  text-align: center;
}

.bi-envelope-at {
  color: red;
}

.bi-facebook {
  color: blue;
}

.bi-instagram {
  color: pink;
}

.bi-whatsapp {
  color: green;
}

@media (max-width: 599px) {
  .contenedor {
    background-color: black;
    height: 220px;
  }
  .contenedor__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 20px;
    list-style-type: none;
    line-height: 15px;
    margin-bottom: 10px;
  }
  .contenedor__item {
    color: black;
    text-decoration: none;
  }
  .contenedor__h3 {
    color: coral;
    text-align: center;
    margin: 15px;
    padding-top: 10px;
  }
  .contenedor__hr {
    margin-left: 80px;
    margin-right: 80px;
  }
  .contacto__texto {
    text-align: center;
    margin: 2px;
  }
}
.encabezado {
  height: 150px;
  background-image: linear-gradient(black, white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.encabezado__lista {
  margin-right: 4rem;
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-size: 25px;
}
.encabezado__item a {
  color: coral;
  text-decoration: none;
}

.abrir-menu,
.cerrar-menu {
  border: 0;
  font-size: 1 rem;
  background-color: transparent;
  display: none;
}

.logo {
  margin-left: 4rem;
  width: 100px;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .encabezado {
    height: 200px;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }
  .encabezado__lista {
    display: flex;
    margin: 0;
    list-style-type: none;
    gap: 1rem;
    font-size: 1.3rem;
  }
  .encabezado__item {
    color: coral;
    text-decoration: none;
  }
  .logo {
    margin: 0;
    width: 100px;
    margin-bottom: 1rem;
  }
  .abrir-menu,
  .cerrar-menu {
    border: 0;
    font-size: 1 rem;
    background-color: transparent;
    display: none;
  }
}
@media (max-width: 599px) {
  .logo {
    max-width: 5rem;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    margin-right: 2rem;
  }
  .abrir-menu {
    color: white;
  }
  .cerrar-menu {
    color: #ececec;
    margin: 0;
    margin-top: 2rem;
  }
  .encabezado__nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #1c1c1c;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .encabezado__nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .encabezado__lista {
    flex-direction: column;
    align-items: end;
    font-size: 1rem;
    margin: 0;
  }
  .encabezado__item a {
    color: white;
  }
}
@media (min-width: 1025px) {
  .cuerpo__titulo {
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
    font-weight: 200;
    color: #2F4F4F;
    line-height: 1px;
  }
  .cuerpo__fig {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
  }
  .cuerpo__img {
    width: 450px;
    border: 4px solid rgba(0, 128, 2, 0.837);
  }
  .cuerpo__div {
    margin: 5rem;
  }
  .cuerpo__parrafo1 {
    padding: 4rem;
    word-spacing: 6px;
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: 50px;
    background-color: #F5F5F5;
  }
  .cuerpo__h2 {
    padding: 1rem;
    font-size: 1.5rem;
    color: #2F4F4F;
    background-color: rgba(0, 191, 255, 0.2941176471);
    width: 310px;
    background-image: linear-gradient(green, white);
  }
  .cuerpo__parrafo2 {
    padding: 4rem;
    font-size: 1.2rem;
    word-spacing: 5px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .cuerpo__titulo {
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
    font-weight: 200;
    color: #2F4F4F;
    line-height: 1px;
  }
  .cuerpo__fig {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
  }
  .cuerpo__img {
    width: 310px;
    border: 4px solid rgba(0, 128, 2, 0.837);
  }
  .cuerpo__div {
    margin: 5rem;
  }
  .cuerpo__parrafo1 {
    padding: 4rem;
    word-spacing: 4px;
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: 50px;
    background-color: #F5F5F5;
  }
  .cuerpo__h2 {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: #2F4F4F;
    background-color: rgba(0, 191, 255, 0.2941176471);
    width: 500px;
  }
  .cuerpo__parrafo2 {
    padding: 4rem;
    word-spacing: 5px;
  }
}
@media (max-width: 599px) {
  .cuerpo__titulo {
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 2rem;
  }
  .cuerpo__fig {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .cuerpo__img {
    width: 250px;
    border: solid #FF6B00 5px;
  }
  .cuerpo__div {
    margin: 1.5rem;
    padding: 0;
  }
  .cuerpo__parrafo1 {
    word-spacing: 4px;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: 5px;
    background-color: #F5F5F5;
  }
  .cuerpo__parrafo2 {
    padding: 1.5rem;
  }
  .cuerpo__h2 {
    text-align: center;
    padding: 0;
    margin-top: 5rem;
    text-decoration: none;
    font-size: 1.3em;
    width: 250px;
    background-color: rgba(0, 191, 255, 0.2941176471);
  }
}
@media screen and (max-width: 599px) {
  .sec {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
  }
  .sec__titulo {
    text-align: center;
    font-size: 1.5rem;
    margin: 1.5rem;
    padding: 1.5rem;
    color: #2F4F4F;
  }
  .sec__parrafo {
    text-align: center;
    font-size: 0.9rem;
    padding: 2rem;
    margin: 1rem;
  }
  .sec__alimentacion2 {
    text-align: center;
  }
  .sec__h3 {
    margin: 1rem;
    color: #7B68EE;
  }
  .sec__lista {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: pink;
    display: inline-block;
    list-style-type: none;
  }
  .sec2 {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sec2__h2 {
    text-align: center;
    padding: 0.5rem;
    margin: 0;
    text-decoration: underline;
    font-size: 1.3rem;
    color: #2F4F4F;
  }
  .sec2__h3 {
    margin-top: 4rem;
    color: #7B68EE;
    font-size: 1.1rem;
  }
  .sec2__imagenes {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .sec2__item {
    width: 150px;
    border: 2px solid yellow;
  }
  .sec2__fig {
    width: 156px;
    font-size: 1rem;
    background-color: rgba(210, 105, 30, 0.411);
    color: #1c1c1c;
    margin: 1rem;
  }
  .sec2__parrafo1 {
    font-size: 1rem;
    margin: 0.5rem;
  }
  .sec2__parrafo2 {
    font-size: 1rem;
    margin: 1rem;
    color: darkgrey;
  }
  .sec2__art {
    margin: 1rem;
  }
  .sec2__h4 {
    color: #7B68EE;
  }
  .sec2__hr {
    color: rgba(105, 105, 105, 0.315);
  }
  .sec3__art {
    margin: 1rem;
  }
  .sec3__h2 {
    color: #2F4F4F;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem;
  }
  .sec3__parrafo {
    padding: 1rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .sec3__h4 {
    color: #7B68EE;
    margin-left: 1rem;
  }
  .sec3__lista {
    list-style-type: circle;
    font-size: 1rem;
  }
  .sec3__item {
    margin-left: 1rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .sec {
    display: grid;
    grid-template-columns: 69% 1% auto;
    grid-template-rows: 20% 40% 40%;
  }
  .sec__titulo {
    grid-row: 1/2;
    font-size: 1.5rem;
    color: #2F4F4F;
    margin: 2rem;
    padding: 0;
  }
  .sec__parrafo {
    margin: 2rem;
    padding: 2rem;
    margin-top: 4rem;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgba(240, 230, 140, 0.377);
  }
  .sec__hr {
    width: 2px;
    grid-column: 2/3;
    background-color: rgba(28, 28, 28, 0.0901960784);
  }
  .sec__alimentacion2 {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .sec__h3 {
    text-align: center;
    color: #7B68EE;
  }
  .sec__lista {
    padding: 0.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    color: #1c1c1c;
    background-color: rgba(255, 192, 203, 0.334);
    list-style-type: none;
  }
  .sec2 {
    display: flex;
    flex-direction: column;
  }
  .sec2__h2 {
    text-align: center;
    margin: 2rem;
    color: #2F4F4F;
    font-size: 1.3rem;
  }
  .sec2__h3 {
    margin: 1rem;
  }
  .sec2__parrafo1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sec2__imagenes {
    display: flex;
    justify-content: center;
    margin: 2rem;
    align-items: center;
  }
  .sec2__item {
    width: 300px;
    border: 3px solid rgba(0, 0, 0, 0.596);
  }
  .sec2__fig {
    margin: 5px;
    padding: 5px;
    color: darkslategray;
    text-align: center;
    background-color: burlywood;
  }
  .sec2__h4 {
    margin: 1rem;
    text-align: center;
    color: #7B68EE;
  }
  .sec2__parrafo2 {
    padding: 1rem;
    margin: 1rem;
  }
  .sec3__h2 {
    text-align: center;
    color: #2F4F4F;
    margin: 1rem;
  }
  .sec3__parrafo {
    margin-left: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
  }
  .sec3__lista {
    padding: 2rem;
  }
  .sec3__h4 {
    font-size: 1rem;
    text-decoration: underline;
    margin: 1rem;
    color: #7B68EE;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .sec {
    display: grid;
    grid-template-columns: 69% 1% auto;
    grid-template-rows: 20% 40% 40%;
    margin: 2rem;
  }
  .sec__titulo {
    grid-row: 1/2;
    font-size: 1.7rem;
    color: #2F4F4F;
  }
  .sec__parrafo {
    padding: 2rem;
    margin: 2rem;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgba(240, 230, 140, 0.377);
  }
  .sec__hr {
    width: 4px;
    grid-column: 2/3;
    background-color: #1c1c1c;
  }
  .sec__alimentacion2 {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .sec__h3 {
    text-align: center;
    color: #7B68EE;
  }
  .sec__lista {
    list-style-type: none;
    padding: 0.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    color: #1c1c1c;
    background-color: rgba(255, 192, 203, 0.334);
  }
  .sec2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 60% 40%;
  }
  .sec2__h2 {
    text-align: center;
    margin: 2rem;
    color: #2F4F4F;
  }
  .sec2__h3 {
    margin: 1rem;
  }
  .sec2__parrafo1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sec2__imagenes {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
  }
  .sec2__item {
    width: 270px;
    border: 3px solid rgba(0, 0, 0, 0.596);
  }
  .sec2__fig {
    margin: 5px;
    padding: 5px;
    color: darkslategray;
  }
  .sec2__h4 {
    margin: 1rem;
    text-align: center;
  }
  .sec2__parrafo2 {
    padding: 1rem;
  }
  .sec3 {
    margin: 3rem;
  }
  .sec3__h2 {
    text-align: center;
    color: #2F4F4F;
  }
  .sec3__parrafo {
    padding: 1rem;
    font-size: 1.1rem;
  }
  .sec3__lista {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
  }
  .sec3__h4 {
    font-size: 1rem;
    text-decoration: underline;
    margin: 1rem;
  }
}
@media (min-width: 1024px) {
  .sec {
    display: grid;
    grid-template-columns: 69% 1% auto;
    grid-template-rows: 20% 40% 40%;
    margin: 2rem;
  }
  .sec__titulo {
    grid-row: 1/2;
    font-size: 2.5rem;
    color: #2F4F4F;
  }
  .sec__parrafo {
    padding: 2rem;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(233, 233, 233);
  }
  .sec__hr {
    width: 4px;
    grid-column: 2/3;
    background-color: #1c1c1c;
  }
  .sec__alimentacion2 {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .sec__h3 {
    text-align: center;
    color: #7B68EE;
  }
  .sec__lista {
    list-style-type: none;
    padding: 0.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    color: #1c1c1c;
    background-color: rgba(255, 192, 203, 0.334);
  }
  .sec2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 60% 40%;
    margin-left: 2rem;
  }
  .sec2__h2 {
    text-align: center;
    margin: 2rem;
    color: #2F4F4F;
  }
  .sec2__h3 {
    margin: 1rem;
  }
  .sec2__parrafo1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sec2__imagenes {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
  }
  .sec2__item {
    width: 350px;
    border: 3px solid rgba(0, 0, 0, 0.596);
  }
  .sec2__fig {
    margin: 5px;
    padding: 5px;
    color: darkslategray;
  }
  .sec2__h4 {
    margin: 1rem;
    text-align: center;
  }
  .sec2__parrafo2 {
    padding: 1rem;
  }
  .sec3 {
    margin: 3rem;
  }
  .sec3__h2 {
    text-align: center;
    color: #2F4F4F;
  }
  .sec3__parrafo {
    padding: 1rem;
    font-size: 1.1rem;
  }
  .sec3__lista {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
  }
  .sec3__h4 {
    font-size: 1rem;
    text-decoration: underline;
    margin: 1rem;
  }
}
@media (max-width: 599px) {
  .gym {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4rem;
  }
  .gym__art {
    height: 300px;
    background-image: url(/img/gym-disco.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .gym__titulo {
    text-align: center;
    margin-bottom: 2rem;
    color: #FF4500;
    font-size: 1.5rem;
  }
  .gym__h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: rgba(28, 28, 28, 0.7607843137);
    background-color: rgba(250, 234, 16, 0.3019607843);
    background-image: linear-gradient(red, white);
  }
  .gym__parrafo {
    padding: 1rem;
  }
  .gym2 {
    margin: 2rem;
  }
  .gym2__h2 {
    text-align: center;
    font-size: 1.5rem;
    color: rgba(28, 28, 28, 0.7607843137);
    margin-bottom: 2rem;
    background-image: linear-gradient(white, green);
  }
  .gym2__d {
    font-size: 1.5rem;
    font-weight: 1200;
    margin: 2.5rem;
    margin-top: 3.5rem;
    color: #1c1c1c;
  }
  .gym2__parrafo-d {
    border: 1px solid rgba(105, 105, 105, 0.2);
    background-color: #1c1c1c;
    color: white;
    padding: 2rem;
    margin-bottom: 1.5rem;
  }
  .gym2__e {
    font-size: 1.5rem;
    font-weight: 1200;
    margin: 2.5rem;
    margin-top: 3.5rem;
    color: red;
  }
  .gym2__parrafo-e {
    background-color: red;
    color: white;
    padding: 2rem;
    margin-bottom: 1.5rem;
  }
  .gym2__r {
    font-size: 1.5rem;
    font-weight: 1200;
    margin: 2.5rem;
    margin-top: 3.5rem;
    color: yellow;
  }
  .gym2__parrafo-r {
    border: 1px solid rgba(105, 105, 105, 0.2);
    background-image: linear-gradient(yellow, white);
    color: #1c1c1c;
    padding: 2rem;
    margin-bottom: 1.5rem;
  }
  .gym3 {
    margin: 3rem;
  }
  .gym3__h2 {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.5019607843);
    box-shadow: #1c1c1c 2px 2px 2px 2px;
    font-size: 1.5rem;
    color: rgba(28, 28, 28, 0.7607843137);
    margin-bottom: 2rem;
  }
  .gym3__ul {
    margin-top: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .gym {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4rem;
  }
  .gym__art {
    height: 500px;
    background-image: url(/img/gym-disco.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .gym__titulo {
    text-align: center;
    color: #FF4500;
    font-size: 1.8rem;
  }
  .gym__h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: rgba(28, 28, 28, 0.7607843137);
    background-color: rgba(250, 234, 16, 0.3019607843);
    background-image: linear-gradient(red, white);
  }
  .gym__parrafo {
    padding: 2rem;
  }
  .gym2 {
    margin: 4rem;
  }
  .gym2__h2 {
    text-align: center;
    font-size: 1.5rem;
    color: rgba(28, 28, 28, 0.7607843137);
    margin-bottom: 2rem;
    background-image: linear-gradient(white, green);
  }
  .gym2__d {
    font-size: 1.5rem;
    font-weight: 1200;
    margin: 2.5rem;
    margin-top: 3.5rem;
    color: #1c1c1c;
  }
  .gym2__parrafo-d {
    border: 1px solid rgba(105, 105, 105, 0.2);
    background-color: #1c1c1c;
    color: white;
    padding: 2rem;
    margin-bottom: 1.5rem;
  }
  .gym2__e {
    font-size: 1.5rem;
    font-weight: 1200;
    margin: 2.5rem;
    margin-top: 3.5rem;
    color: red;
  }
  .gym2__parrafo-e {
    background-color: red;
    color: white;
    padding: 2rem;
    margin-bottom: 1.5rem;
  }
  .gym2__r {
    font-size: 1.5rem;
    font-weight: 1200;
    margin: 2.5rem;
    margin-top: 3.5rem;
    color: yellow;
  }
  .gym2__parrafo-r {
    border: 1px solid rgba(105, 105, 105, 0.2);
    background-image: linear-gradient(yellow, white);
    color: #1c1c1c;
    padding: 2rem;
    margin-bottom: 1.5rem;
  }
  .gym3 {
    margin: 4rem;
  }
  .gym3__h2 {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.5019607843);
    box-shadow: #1c1c1c 2px 2px 2px 2px;
    font-size: 1.5rem;
    color: rgba(28, 28, 28, 0.7607843137);
    margin-bottom: 2rem;
  }
  .gym3__ul {
    margin-top: 2rem;
  }
}
@media (min-width: 1024px) {
  .gym {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4rem;
  }
  .gym__art {
    height: 700px;
    background-image: url(/img/gym-disco.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .gym__titulo {
    text-align: center;
    color: #FF4500;
    font-size: 1.8rem;
  }
  .gym__h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: rgba(28, 28, 28, 0.7607843137);
    background-color: rgba(250, 234, 16, 0.3019607843);
    background-image: linear-gradient(red, white);
  }
  .gym__parrafo {
    padding: 2rem;
    color: #1c1c1c;
    font-weight: 600;
    line-height: 1.5rem;
  }
  .gym2 {
    margin: 4rem;
  }
  .gym2__h2 {
    text-align: center;
    font-size: 1.5rem;
    color: rgba(28, 28, 28, 0.7607843137);
    margin-bottom: 2rem;
    background-image: linear-gradient(white, green);
  }
  .gym2__d {
    font-size: 1.5rem;
    font-weight: 1200;
    margin: 2.5rem;
    margin-top: 3.5rem;
    color: #1c1c1c;
  }
  .gym2__parrafo-d {
    border: 1px solid rgba(105, 105, 105, 0.2);
    background-color: #1c1c1c;
    color: white;
    padding: 2rem;
    margin-bottom: 1.5rem;
  }
  .gym2__e {
    font-size: 1.5rem;
    font-weight: 1200;
    margin: 2.5rem;
    margin-top: 3.5rem;
    color: red;
  }
  .gym2__parrafo-e {
    background-color: red;
    color: white;
    padding: 2rem;
    margin-bottom: 1.5rem;
  }
  .gym2__r {
    font-size: 1.5rem;
    font-weight: 1200;
    margin: 2.5rem;
    margin-top: 3.5rem;
    color: yellow;
  }
  .gym2__parrafo-r {
    border: 1px solid rgba(105, 105, 105, 0.2);
    background-image: linear-gradient(yellow, white);
    color: #1c1c1c;
    padding: 2rem;
    margin-bottom: 1.5rem;
  }
  .gym3 {
    margin: 4rem;
  }
  .gym3__h2 {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.5019607843);
    box-shadow: #1c1c1c 2px 2px 2px 2px;
    font-size: 1.5rem;
    color: rgba(28, 28, 28, 0.7607843137);
    margin-bottom: 2rem;
  }
  .gym3__ul {
    margin-top: 2rem;
  }
}
@media (max-width: 599px) {
  .parte {
    margin: 3rem;
  }
  .parte__titulo {
    font-size: 1.5rem;
    text-align: center;
    color: #FF4500;
  }
  .parte2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
  }
  .parte2__h2 {
    font-size: 1.3rem;
    grid-column: 1/3;
    color: #FF4500;
  }
  .parte2__parrafo {
    grid-column: 1/2;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .parte2__fig {
    grid-column: 2/3;
    margin-top: 3rem;
    margin-left: 2rem;
  }
  .parte2__img {
    width: 300px;
  }
  .parte3 {
    margin: 2rem;
    margin-bottom: 6rem;
  }
  .parte3__h2 {
    color: #FF4500;
    margin-bottom: 1rem;
  }
  .parte3__parrafo {
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .parte4 {
    margin-bottom: 5rem;
  }
  .parte4__h2 {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: #FF4500;
  }
  .parte4__h4 {
    font-size: 1.3rem;
    text-align: center;
    text-decoration: underline;
    margin: 2rem;
    color: #7B68EE;
  }
  .parte4__div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .parte4__parrafo {
    font-size: 1rem;
    text-align: center;
    width: 200px;
  }
  .parte4__fig {
    margin-top: 3rem;
  }
  .parte4__img {
    width: 200px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .parte {
    margin: 3rem;
  }
  .parte__titulo {
    font-size: 1.8rem;
    text-align: center;
    color: #FF4500;
  }
  .parte2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    padding: 1rem;
  }
  .parte2__h2 {
    font-size: 1.4rem;
    color: #FF4500;
  }
  .parte2__parrafo {
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 2rem;
  }
  .parte2__fig {
    margin-top: 2rem;
    margin-left: 4rem;
  }
  .parte2__img {
    width: 350px;
  }
  .parte3 {
    margin: 2rem;
    margin-bottom: 9rem;
  }
  .parte3__h2 {
    color: #FF4500;
    margin-bottom: 1rem;
  }
  .parte3__parrafo {
    margin-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.3rem;
  }
  .parte4 {
    margin-bottom: 5rem;
    margin-bottom: 5rem;
  }
  .parte4__h2 {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: #FF4500;
  }
  .parte4__h4 {
    font-size: 1.3rem;
    text-align: center;
    text-decoration: underline;
    margin: 2rem;
    color: #7B68EE;
  }
  .parte4__div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .parte4__parrafo {
    font-size: 1rem;
    text-align: center;
    width: 300px;
  }
  .parte4__fig {
    margin-top: 3rem;
  }
  .parte4__img {
    width: 250px;
  }
}
@media (min-width: 1025px) {
  .parte {
    margin: 3rem;
  }
  .parte__titulo {
    font-size: 2.5rem;
    text-align: center;
    color: #FF4500;
  }
  .parte2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 40% 40%;
    margin: 5rem;
  }
  .parte2__h2 {
    grid-column: 1/3;
    color: #FF4500;
  }
  .parte2__parrafo {
    grid-column: 1/2;
    margin: 1rem;
    padding: 1rem;
  }
  .parte2__fig {
    grid-column: 2/3;
    grid-row: 2/4;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .parte2__img {
    width: 400px;
  }
  .parte2__div {
    grid-row: 3/4;
    margin: 2rem;
  }
  .parte2__h3 {
    margin-bottom: 2rem;
  }
  .parte3 {
    margin: 2rem;
    margin-bottom: 9rem;
  }
  .parte3__h2 {
    color: #FF4500;
    margin-bottom: 1rem;
  }
  .parte3__parrafo {
    margin-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.3rem;
  }
  .parte4 {
    margin-bottom: 5rem;
    margin-bottom: 5rem;
  }
  .parte4__h2 {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: #FF4500;
  }
  .parte4__h4 {
    font-size: 1.3rem;
    text-align: center;
    text-decoration: underline;
    margin: 2rem;
    color: #7B68EE;
  }
  .parte4__div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .parte4__parrafo {
    font-size: 1rem;
    text-align: center;
    width: 500px;
  }
  .parte4__fig {
    margin-top: 3rem;
  }
  .parte4__img {
    width: 300px;
  }
}

/*# sourceMappingURL=styles.css.map */
