.sec {
    display: grid;
    grid-template-columns: 69% 1% auto;
    grid-template-rows: 1fr;
    margin: 2rem;

    &__titulo {
        grid-row: 1/2;
        font-size: 2.5rem;
    }

    &__parrafo {
        padding: 2rem;
        margin: 2rem;
        border: 2px solid black;
        border-radius: 4px;
        background-color: rgba(240, 230, 140, 0.377);
    }

    &__hr {
        width: 4px;
        grid-column: 2/3;
        background-color: #1c1c1c;
    }

    &__alimentacion2 {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    &__h3 {
        text-align: center;
    }

    &__lista {
        padding: 0.5rem;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        color: #1c1c1c;
        background-color: rgba(255, 192, 203, 0.334)
    }

}

.sec2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 40% 60%;


    &__art1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &__titulo{
        text-align: center;
        margin: 2rem;
    }
    &__parrafo1{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__imagenes {
        grid-column: 2/3;
        grid-row: 1/3;
        display: flex;
        justify-content: space-between;
        margin: 2rem;
    }

    &__item {
        width: 350px;
        border: 3px solid rgba(0, 0, 0, 0.596);
    }

    &__fig {
        margin: 5px;
        padding: 5px;
        color: darkslategray;
    }
    &__parrafo2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

.h4-alimentacion {
    font-size: 1.5rem;
    text-decoration: underline;
    margin: 1rem;
}

.ingesta__parrafo {
    padding: 1rem;
    font-size: 1.1rem;
}

.ingesta__lista {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
}

// =============== ABRIMOS MEDIA =========== 

@media screen and (max-width:480px) {
    .cuerpo-alimentacion {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }

    h1 {
        text-align: center;
        text-decoration: underline;
        font-size: 1.5rem;
        margin: 1.5rem;
        padding: 1.5rem;
    }

    .cuerpo-parrafo-2 {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 0.9rem;
        padding: 2rem;
        margin: 1rem;
    }

    h2 {
        text-align: center;
        padding: 0.5rem;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: underline;
        font-size: 1rem;
    }

    .imagenes-alimentacion {
        flex-direction: column;
        align-items: center;
        gap: 15px;

    }

    .imagenes-1 {
        width: 150px;
        border: 2px solid yellow;
    }

    .pie-img {
        font-size: 0.8rem;
        background-color: rgba(210, 105, 30, 0.411);
        color: #1c1c1c;
    }

    .cuerpo-parrafo-3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 0.6rem;
        margin: 0.5rem;
    }

    .h4-alimentacion {

        font-size: 1rem;
        text-decoration: underline;
        margin: 0.5rem;
    }

    .cuerpo-lista {
        padding: 1rem;
        font-size: 0.7rem;
    }

}