$color-titulos: #FF4500;
$color-subtitulo: #7B68EE;

@media (max-width:599px) {
    .parte {
        margin: 3rem;

        &__titulo {
            font-size: 1.5rem;
            text-align: center;
            color: $color-titulos;
        }

        &__parrafo {
            margin: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .parte2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem;

        &__h2 {
            font-size: 1.4rem;
            grid-column: 1/3;
            color: $color-titulos;
        }

        &__parrafo {
            grid-column: 1/2;
            margin: 1rem;
            padding: 1rem;
        }

        &__fig {
            grid-column: 2/3;
            margin-top: 3rem;
            margin-left: 2rem;
        }

        &__img {
            width: 300px;
        }

    }

    .parte3 {
        margin: 2rem;
        margin-bottom: 9rem;

        &__h2 {
            color: $color-titulos;
            margin-bottom: 1rem;
        }

        &__parrafo {
            margin-top: 2rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }

    .parte4 {
        margin-bottom: 5rem;

        &__h2 {
            font-size: 1.5rem;
            margin-left: 2rem;
            color: $color-titulos;
        }

        &__h4 {
            font-size: 1.3rem;
            text-align: center;
            text-decoration: underline;
            margin: 2rem;
            color: $color-subtitulo;
        }

        &__div {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &__parrafo {
            font-size: 1rem;
            text-align: center;
            width: 200px;
        }

        &__fig {
            margin-top: 3rem;
        }

        &__img {
            width: 200px;
        }
    }

}

@media (min-width:600px) and (max-width:1024px) {

    .parte {
        margin: 3rem;

        &__titulo {
            font-size: 1.8rem;
            text-align: center;
            color: $color-titulos;
        }

        &__parrafo {
            margin: 5rem;
            padding-left: 3rem;
            padding-right: 3rem;
            font-size: 1.3rem;
        }
    }

    .parte2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem;
        padding: 1rem;

        &__h2 {
            font-size: 1.4rem;
            color: $color-titulos;
        }

        &__parrafo {
            font-size: 1.2rem;
            padding: 1rem;
            margin-top: 2rem;
        }

        &__fig {
            margin-top: 2rem;
            margin-left: 4rem;
        }

        &__img {
            width: 350px;
        }

    }

    .parte3 {
        margin: 2rem;
        margin-bottom: 9rem;

        &__h2 {
            color: $color-titulos;
            margin-bottom: 1rem;
        }

        &__parrafo {
            margin-top: 2rem;
            padding-left: 5rem;
            padding-right: 5rem;
            font-size: 1.3rem;
        }
    }

    .parte4 {
        margin-bottom: 5rem;
        margin-bottom: 5rem;

        &__h2 {
            font-size: 1.5rem;
            margin-left: 2rem;
            color: $color-titulos;
        }

        &__h4 {
            font-size: 1.3rem;
            text-align: center;
            text-decoration: underline;
            margin: 2rem;
            color: $color-subtitulo;
        }

        &__div {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &__parrafo {
            font-size: 1rem;
            text-align: center;
            width: 300px;
        }

        &__fig {
            margin-top: 3rem;
        }

        &__img {
            width: 250px;
        }
    }

}

@media (min-width:1025px) {

    .parte {
        margin: 3rem;

        &__titulo {
            font-size: 2.5rem;
            text-align: center;
            color: $color-titulos;
        }

        &__parrafo {
            margin: 5rem;
            padding-left: 3rem;
            padding-right: 3rem;
            font-size: 1.3rem;
        }
    }

    .parte2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5rem;

        &__h2 {
            grid-column: 1/3;
            color: $color-titulos;
        }

        &__parrafo {
            grid-column: 1/2;
            font-size: 1.3rem;
            margin: 3rem;
            padding: 2rem;
        }

        &__fig {
            grid-column: 2/3;
            margin-top: 6rem;
            margin-left: 3rem;
        }

        &__img {
            width: 400px;
        }

    }

    .parte3 {
        margin: 2rem;
        margin-bottom: 9rem;

        &__h2 {
            color: $color-titulos;
            margin-bottom: 1rem;
        }

        &__parrafo {
            margin-top: 2rem;
            padding-left: 5rem;
            padding-right: 5rem;
            font-size: 1.3rem;
        }
    }

    .parte4 {
        margin-bottom: 5rem;
        margin-bottom: 5rem;

        &__h2 {
            font-size: 1.5rem;
            margin-left: 2rem;
            color: $color-titulos;
        }

        &__h4 {
            font-size: 1.3rem;
            text-align: center;
            text-decoration: underline;
            margin: 2rem;
            color: $color-subtitulo;
        }

        &__div {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &__parrafo {
            font-size: 1rem;
            text-align: center;
            width: 500px;
        }

        &__fig {
            margin-top: 3rem;
        }

        &__img {
            width: 300px;
        }
    }
}