$color-titulos: #2F4F4F;
$color-subtitulo: #7B68EE;

@media (max-width:599px) {
    
}

@media (min-width:600px) and (max-width:1023px) {

}

@media (min-width:1024px){


main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.gym{

    &__titulo{
        text-align: center;
        color: $color-titulos;
        margin: 2rem;
    }
}

.parrafo-entrenamiento {
    margin: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
}

.art-entrenamiento {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.h4-entrenamiento {
    /* border: 2px solid blueviolet; */
    box-shadow: 8px 8px 8px #FAEA10;
}

.parrafo-h4 {
    padding: 2rem;
    font-size: 0.8rem;
    box-shadow: 8px 8px #1c1c1c;
}
}