.contenedor {
    background-image: linear-gradient(white, black);
    color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__figure {
        text-align: center;
    }

    &__img {
        width: 100px;
    }
}

.contenedor__hr {
    margin-left: 200px;
    margin-right: 200px;
}

.contacto__texto {
    text-align: center;
}


@media (max-width:599px) {

    .contenedor {
        background-color: black;
        height: 220px;
    }

    .contenedor__hr {
        margin-left: 80px;
        margin-right: 80px;
    }

    .contacto__texto {
        text-align: center;
        margin: 2px;
    }

}