.encabezado {
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    &__nav {
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }

    &__lista {
        display: flex;
        list-style-type: none;
        gap: 1rem;
        font-size: 25px;
    }


    &__item a {
        color: white;
        text-decoration: none;

        &:hover {
            color: blueviolet;
        }
    }
}

.abrir-menu,
.cerrar-menu {
    border: 0;
    font-size: 1 rem;
    background-color: transparent;
    display: none;
}

.logo {
    width: 150px;
    
}

@media (max-width:480px) {
    .logo {
        max-width: 5rem;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .abrir-menu {
        color: white;

    }

    .cerrar-menu {
        color: #ececec;
    }


    .encabezado__nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }

    .encabezado__lista {
        flex-direction: column;
        align-items: end;
        font-size: 1rem;
    }

    .encabezado__item a {
        color: white;
    }

}


